.search {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center ;
}
.search .search-input{
  width: 30% !important ;
  color: #ffff !important;
  border-bottom: 1px solid #ffff !important;
}
.search .search-input::placeholder{
  color: #fff;
}
.search .search-button {
  background-color: transparent ;
  border: none ;
  width: 40px;
  height: 40px;
  padding: 0;
  color: #ffff;
  border-radius: 50%;
}
.search .search-button:hover {
  background-color: rgba(9, 1, 1, 0.121);
  transition: 1.25s;
}